<form id="lock-page" (ngSubmit)="submit()">
    <div class="content">
        <p aria-hidden="true"><i class="fa fa-lock fa-4x text-muted"></i></p>
        <p>{{(pinLock ? 'yourVaultIsLockedPinCode' : 'yourVaultIsLocked') | i18n}}</p>
        <div class="box last">
            <div class="box-footer">
                {{'loggedInAsOn' | i18n : email : webVaultHostname}}
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="btn primary block" appBlurClick>
                <i class="fa fa-unlock-alt" aria-hidden="true"></i> <b>{{'unlock' | i18n}}</b>
            </button>
            <button type="button" class="btn block" appBlurClick (click)="logOut()">
                {{'logOut' | i18n}}
            </button>
        </div>
    </div>
</form>
